.pointer {
  cursor:pointer
}

.circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
}

.circular img {
  opacity: 0;
  filter: alpha(opacity=0);
}