/**
 * Copyright (c) 2013 Jeffrey Muller <jeffrey.muller92[at]gmail[dot]com>
 * Licensed under the MIT license
 */

div.jNotify {
  position: absolute;
  left: calc(50% - 150px);
}

body > div.jNotify {
  position: fixed;
}

div.jNotify  div.jNotify-notification {
  display: none;
  width: 300px;
  color: white;
  border-radius: 3px;
  margin: 10px 0;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  -webkit-box-shadow:  0px 2px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow:  0px 2px 10px 0px rgba(0, 0, 0, 0.4);
}

div.jNotify button.close {
  float: left;
  color: white;
  font-size: 18px;
  position: relative;
  left: 5px;
  padding: 0;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  text-shadow: 0 1px 0 #ffffff;
  font-weight: bold;
  line-height: 20px;
  opacity: 0.2;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

div.jNotify button.close:hover, div.jNotify button.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

div.jNotify p {
  margin: 0;
}

div.jNotify.top {
  top: 30px;
}

div.jNotify.right {
  right: 30px;
  left: 0px;
}

div.jNotify.left {
  left: 30px;
}

div.jNotify.bottom {
  bottom: 30px;
}

div.jNotify div.jNotify-notification div.content {
  font-family: "Calibri", "Trebuchet MS", Arial, serif;
  font-size: 11px;
  margin: 0 30px;
  padding: 10px 0;
  word-wrap: break-word;
}
